---
import { SEO } from "astro-seo";

interface Props {
  title: string;
  description?: string;
}

const { title, description }: Props = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <script>
      // Dark mode toggle
      document.documentElement.classList.toggle(
        "dark",
        localStorage.theme === "dark" ||
          (!("theme" in localStorage) &&
            window.matchMedia("(prefers-color-scheme: dark)").matches),
      );
    </script>
    <script>
      // Intersection observer for animations
      import { Observer } from "tailwindcss-intersect";
      Observer.start();
    </script>
    <SEO
      title={title}
      titleTemplate="%s | TimBuilding Web Designs"
      description={description}
      charset="UTF-8"
      openGraph={{
        basic: {
          // OG title should never be the same as the page title
          title: "₱0 down, ₱3,500 per month website",
          type: "website",
          image: `${import.meta.env.SITE}/og-image.png`,
          url: `${import.meta.env.SITE}`,
        },
        optional: {
          description: "We build websites for small businesses",
        },
      }}
      twitter={{
        card: "summary_large_image",
        title: "₱0 down, ₱3,500 per month website",
        description: "We build websites for small businesses",
        image: `${import.meta.env.SITE}/og-image.png`,
      }}
      extend={{
        link: [
          {
            rel: "sitemap",
            href: "/sitemap-index.xml",
          },
        ],
      }}
    />
  </head>
  <body>
    <slot />
  </body>
</html>
